body{
    margin: 0;
}
.wrap{
    width: 80%; min-width: 480px; margin: 0 auto;
}
.wrap header h1{
    margin: 0; line-height: 60px; color: #888; font-size: 32px;
}
.wrap header .logoArea{
    position: relative;
}
.wrap header .logoArea a{
    color: green; font-size: 24px;
    position: absolute; right: 0; bottom: 0;
}
.wrap nav fieldset{
    margin: 0; padding: 0; width: 100%; line-height: 50px;
    border-top: 2px solid green; border-bottom: 1px solid green;
    border-left: none; border-right: none; box-sizing: border-box;
    position: relative;
}
.wrap nav fieldset form input[type="search"]{
    background-color: #0f8; border: 1px solid green; line-height: 25px;
}
.wrap nav fieldset form input[type="submit"]{
    background-color: #463; border: 2px solid #0c3; color: white; line-height: 25px;
}
.wrap nav fieldset form select{
    min-width: 140px; width: 25%; height: 30px; position: absolute; right: 0; top: 10px;
    background-color: #0cb; border: 1px solid #0ed; box-sizing: border-box;
}
.wrap section h2{
    margin: 0; font-size: 28px; color: #555;
    border-bottom: 3px solid green; line-height: 100px;
}
.wrap section h2 span{
    color: green;
}
.wrap section article{
    position: relative; width: 100%; margin-bottom: 50px;
}
.wrap section article ul{
    list-style: none; margin: 0; padding: 0; line-height: 40px;
    position: relative; width: 100%;
}
.wrap section article ul:after{
    content: ''; display: block; clear: both;
}
.wrap section article ul li{
    float: left; font-size: 14px;
}
.wrap section article ul li.firstLi,
.wrap section article ul li.thirdLi,
.wrap section article ul li.fourthLi{
    width: 18%; margin-left: 2%;
}
.wrap section article ul li.secondLi{
    width: 38%; margin-left: 2%;
}
.wrap section article .newObject{
    position: relative;
}
.wrap section article div:first-child{
    line-height: 50px; border-bottom: 1px solid green;
}
.wrap section article div:not(:first-child){
    border-bottom: 1px solid #a0f;
}
.wrap section article div:nth-of-type(2n){
    background-color: #ccc;
}
.wrap section article a{
    text-decoration: none; color: black; display: block;
}
.wrap section article a.newA{
    position: absolute; right: 0; width: 32px; line-height: 20px;
    background-color: #8f0; text-align: center; font-size: 10px;
}
.wrap section .pageNumb{
    margin: 0 auto;
}
.wrap section .pageNumb a{
    text-decoration: none; color: balck; font-size: 14px
}
.wrap section .pageNumb ul{
    list-style: none; margin: 0; padding: 0; text-align: center;
}
.wrap section .pageNumb ul li{
    display: inline-block;
}
.wrap section .pageNumb ul li.pageMargin{
    margin-left: 20px;
}
.wrap section .pageNumb ul li.ltgtMargin{
    margin-left: 50px;
}
